/* app/components/LogoutButton.module.css */
.logoutButton {
    background-color: rgb(255, 42, 0); /* Example styling */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    /* Add more styles as needed */
  }
  