/* app/components/Navbar.module.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #013e5f;
    color: white;
  }
  
  .navLeft a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  
  .navRight {
    display: flex;
    align-items: center;
  }
  
  .navRight a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .navRight span {
    margin-right: 1rem;
  }
  
  .logoutButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .profile{
    background-color: #013e5f; /* Example styling */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: .3rem;
    &:hover {
      background-color: rgb(2, 83, 123); /* New hover color */
    }
  }

  .homeButton{
    background-color: #013e5f; /* Example styling */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: .3rem;
    &:hover {
      background-color: rgb(2, 83, 123); /* New hover color */
    }
  }